<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Transactions</h1>
</div>
<!-- Content Row -->
<div class="row">

    <!-- Money in Wallet -->
    {{> primaryUp this }}
    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Balance</div>
    <div class="h5 mb-0 font-weight-bold text-gray-800">{{roundNumber2 wallet.amount}} EUR</div>
    {{> primaryDown this }}

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Buy</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{roundNumber2 buyAmount}} EUR</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Sell</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{roundNumber2 sellAmount}} EUR</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Benefits -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Benefits</div>

                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{roundNumber2 benefits}} EUR
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{roundNumber2 percentBenefits}}%
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-euro-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">
    <div class="col-xl-12 col-lg-10">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
            </div>
            <div class="card-body">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered dataTable" id="transactionsTable" width="100%"
                                    cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-sort="descending"
                                                aria-label="Date: activate to sort column ascending"
                                                style="width: 100px;">
                                                Date</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Symbol: activate to sort column ascending"
                                                style="width: 100px;">
                                                Symbol</th>
                                            <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                colspan="1" aria-label="Name: activate to sort column ascending"
                                                style="width: 325px;">Name</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="dataTable"
                                                rowspan="1" colspan="1"
                                                aria-label="Type: activate to sort column ascending"
                                                style="width: 100px;">Type</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="dataTable"
                                                rowspan="1" colspan="1"
                                                aria-label="Units: activate to sort column ascending"
                                                style="width: 76px;">Units</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="dataTable"
                                                rowspan="1" colspan="1"
                                                aria-label="Price: activate to sort column ascending"
                                                style="width: 100px;">Price</th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="dataTable"
                                                rowspan="1" colspan="1"
                                                aria-label="Total: activate to sort column ascending"
                                                style="width: 100px;">Total</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th rowspan="1" colspan="1">Date</th>
                                            <th rowspan="1" colspan="1">Symbol</th>
                                            <th rowspan="1" colspan="1">Name</th>
                                            <th class="text-center" rowspan="1" colspan="1">Type</th>
                                            <th class="text-center" rowspan="1" colspan="1">Units</th>
                                            <th class="text-center" rowspan="1" colspan="1">Price</th>
                                            <th class="text-center" rowspan="1" colspan="1">Total</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {{#each transactions }}
                                        <tr role="row" class="odd">
                                            <td class="text-center">{{dateFormat this.date}}</td>
                                            <td class="text-center">{{this.stock.symbol}}</td>
                                            <td>{{this.stock.name}}</td>
                                            <td class="text-center">{{this.type}}</td>
                                            <td class="text-right">{{this.units}}</td>
                                            <td class="text-right">{{roundNumber2 this.price}} EUR</td>
                                            <td class="text-right">{{roundNumber2 this.signedTotal}} EUR</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="https://cdn.jsdelivr.net/npm/startbootstrap-sb-admin-2@4.0.7/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{{!-- <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script> --}}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

<script src="/javascripts/private.js"></script>
<script src="/javascripts/transaction.js"></script>