<div class="container">

  <br><br>

  <!-- Nested Row within Card Body -->
  <div class="row">
    <div class="col-lg-6 d-none d-lg-block"></div>
    <div class="col-lg-4">
      <div class="p-5">
        <div class="text-center">

          <h1 class="h4 text-gray-900 mb-4">Profile</h1>
        </div>
        <form action="/app/user" method="POST" class="user">

          <!--<div class="form-group row">-->
          <div class="form-group">
            <input type="text" class="form-control form-control-user" name="name" id="exampleFirstName"
              placeholder="Name" value="{{name}}">
          </div>

          <!--</div>-->
          <div class="form-group">
            <input type="email" class="form-control form-control-user" name="email" id="exampleInputEmail"
              placeholder="Email Address" value="{{email}}">
          </div>

          <div class="form-group">
            <input type="password" class="form-control form-control-user" name="password" id="exampleInputPassword"
              placeholder="Password" value="{{password}}">
          </div>
          <div class="form-group">
            <input type="image" class="form-control form-control-user" name="image" id="exampleInputImage"
              placeholder="image" value="{{image}}">
          </div>
          <!--
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user" name="password" id="exampleRepeatPassword"
                    placeholder="Repeat Password">
                </div>-->
          <button type="submit" class="btn btn-prymary btn-user btn-block">Save</button>

          {{#if errorMessage}}
          <hr>
          <p class="btn btn-google btn-user btn-block">{{errorMessage}}</p>
          {{/if}}
          {{!-- <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a> --}}
        </form>
        <hr>
        <!--<div class="text-center">
              <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>-->
        <!--
            <div class="text-center">
              <a class="small" href="/auth/login">Already have an account? Login!</a>
            </div>
            <div class="container py-4 text-center">
              <div class="copyright">
                &copy; Copyright <strong><span><a href="/"> TradExc </a></span></strong>-->
      </div>
    </div>
  </div>




</div>